#header
  height 50px
  line-height 50px
  background #444
  box-shadow 0 0 10px rgba(0, 0, 0, 0.3)
  z-index 9999
  position relative
  .new-post
    display block
    width 50px
    height 50px
    &:before
      content '\f067'
      font 30px/55px font-icon
      color #fff
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      text-align center